<div class="health_container">
  <div class="row">
    <div id="main">

    <ul>
      <% @health_issues.each do |health_issue| %>
     <li>
<p> <%= image_tag attachment_url(health_issue, :photo, :fill, 180, 180, format: "png") %></p>
  <p id="name"><%= health_issue.name %></p>
<%= check_box_tag "health_issue_ids[]", health_issue.id%></li>
      <% end %>

    </ul>
    <%= submit_tag "Submit Your Request" %>

    </div>
  </div>
