<div class="container">
  <div class="health_container">
    <div class="row">
      <div id="main">
    <% @health_issues.each do |health_issue| %>
<ul>
  <li><%= health_issue.name %></li>
<%= image_tag attachment_image_tag(health_issue, :photo, :fill, 200, 200, format: "jpg") %>

</ul>
  <% end %>

  <%= react_component('CheckboxInput') %>

</div>
  </div>
</div>
