<div class="container">
  <div class="health_container">
    <div class="row">
    <% @health_issues.each do |health_issue| %>
<ul>
  <li><%= health_issue.name %></li>
  <li><i class ="<%= health_issue.icon_class %>"></i></li>
</ul>
  <% end %>
</div>
  </div>
