<div class="col-xs-4">
  <div class="buttoncontainer">
    <%= link_to "Start", health_issues_path, class: "btn btn-warning"%>
  </div>
</div>
<div class="col-md-8">
  <div class="image">
    <%= image_tag 'fruitpunch.jpg', style:"border-style: hidden;" %>
  </div>
</div>
