<div class="column">
  <div class="row">
    <div class="">
      <h1>Orders</h1>
      <table>
        <thead>
          <tr>
            <th>
              Order ID
            </th>
            <th>
              Username
            </th>
            <th>
              Total Price
            </th>
            <th>
              View Details
            </th>
          </tr>
        </thead>
        <tbody>
          <% @orders.each do |order| %>
          <tr>
            <td>
              <%= order.id %>
            </td>
            <td>
              <%= order.user_id%>
            </td>
            <td class="accounting">
              <%= number_to_currency order.total_price %>
            </td>
            <td>
              <%= link_to "Order #{order.id}", order_path(id: order.id) %>
            </td>
          </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>
