@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'health_issue';
@import 'juices';
@import 'carts';
@import 'leaflet.css';
@import 'font-awesome';

ul {
  list-style: none;
}

.health_container{
  margin-top:100px;
  padding: 40px;

}

.navbar-inverse {
  padding:40px;
  background-color:#000000;
}

img{
  border: solid 1px #dddddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-lg-12{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttoncontainer{
  margin-top: 450px;
  margin-left: 200px;
}

.btn-warning{
  padding: 5px 30px;
  font-size: 15px;
}

.container{
  margin-top:200px;
}

.signincontainer{
  width:300px;
  height:300px;
  background-color: #000000;
  opacity: 0.2;
  position:absolute;
  padding:20px;
  border-radius: 25px;

}
.signin{
  display: flex;
  flex-direction: column;
  position:absolute;
  width:300px;
  height:300px;
  padding:20px;
  border-radius: 25px;
}


@media screen and (max-width: 768px) {
    .juicescontainer .juices{
        flex-direction: column;
        width: 100%;
    }
}
