@import 'bootstrap-sprockets';
@import 'bootstrap';

ul {
  list-style: none;
}

.health_container{
  margin-top:100px;
  padding: 40px;

ul {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  padding:50px;

  p{
    display:flex;
    padding:100px;
  }
  }
  }

 .navbar-inverse {
  padding:40px;
  background-color:#000000;

}

#name {
  padding:0px;
}
