@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'health_issue';
@import 'juices';
@import 'carts';

ul {
  list-style: none;
}

.health_container{
  margin-top:100px;
  padding: 40px;

}

.navbar-inverse {
  padding:40px;
  background-color:#000000;
}

img{
  border: solid 1px #dddddd;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.col-lg-12{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttoncontainer{
  margin-top: 450px;
  margin-left: 200px;
}

.btn-warning{
  padding: 5px 30px;
  font-size: 15px;
}

.container{
  margin-top:200px;
}
