.mapcolumn{
 margin-right: 100px;
 #mapid { height: 350px; width:450px; }
}

.leaflet-marker-shadow {
  border:none;
}

.leaflet-marker-icon {
 border:none;
}

.imageprice {
  margin-right: 30px;
  padding:10px;
}

.checkoutlist{
  margin-left:-40px;
}

.total_price{
  margin-top: 40px;
  margin-bottom: 20px;
}
