
#mapid { height: 450px; width:1000px; }

.leaflet-marker-shadow {
  border:none;
}

.leaflet-marker-icon {
 border:none;
}

.imageprice {
  margin-right: 30px;
}

.checkoutlist{
  margin-left:-40px;
}
