.juicescontainer{
  display: flex;
  flex-wrap: wrap;
  padding: 35px;

}

.juices{
  width: 25%;
}

.col-xs-4{
  margin-top:80px;
}

.mapcolumn{
  margin-right: 100px;
#mapid { height: 350px; width:450px; }
}

.leaflet-marker-shadow {
  border:none;
}

.leaflet-marker-icon {
 border:none;
}

.checkoutlist{
  margin-left:-40px;
}
