h1{
  font-family: 'Francois One', sans-serif;
}

.image{
  position:relative;

}

.signin{
  display: flex;
  flex-direction: column;
  position:relative;
  z-index: 3;
  top:50px;
  left:50px;
}

.col-lg-4{
  position: absolute;
  top:95px;
  left:50px;
}
