h1{
  font-family: 'Francois One', sans-serif;
}

.image {
  margin-top:-20px;
  background-size: cover;

}
// .wrapper{
//   background: url(image-path('juice_bg-01.jpg'));
//
// }
.signin1{
  z-index: 3;
  position: relative;
  top:-50px;
  left:50px;
}

.col-lg-4{
  position: absolute;
  top:-50px;
  left:50px;
}

body > div > img {
  position:absolute;
  top:0px;
  left:0px;
}
