h1{
  font-family: 'Francois One', sans-serif;
}

.image{
  margin-top:-20px;
  position:relative;

}

// .wrapper{
//   background: url(image-path('juice_bg-01.jpg'));
//
// }

.signin{
  padding-right: 100px;
  display: flex;
  flex-direction: column;
  position:absolute;
  padding-right: 100px;
  z-index: 3;
}
