<div class="container">
  <div class="health_container">
    <div class="row">
    <% @juices.each do |juice| %>
<ul>
    <li><%= link_to juice.name, juice_path(id: juice.id) %></li>
  <li><%= image_tag attachment_url(juice, :photo, :fill, 250, 250, format: "png") %></li>
    <li><%= juice.description %></li>
    <li><%= juice.price %></li>

</ul>
  <% end %>
</div>
  </div>
