<div class="container">
  <div class="health_container">
    <div class="row">
    <% @juices.each do |juice| %>
<ul>
  <li><%= juice.name %></li>
    <li><%= juice.description %></li>

</ul>
  <% end %>
</div>
  </div>
