<div class="health_container">
  <div class="row">
    <div class="col-lg-12">
      <div class="juicescontainer">
        <% @juices.each do |juice| %>
        <div class="juices">
          <h3><%= link_to juice.name, juices_path(id: juice.id) %></h3>
          <%= image_tag attachment_url(juice, :photo, :fill, 300, 300, format: "png") %>
          <p><%= juice.description %></p>
          <p>$<%= juice.price %></p>
        </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
