<div class="container">
  <div class="health_container">
    <div class="row">
      <div class="col-xs-6">
        <h2><%= @juice.name%></h2></br>
        <%= image_tag attachment_url(@juice, :photo, :fill, 440, 440, format: "png") %>
        </div>
        <div class="col-xs-6">
          <ul>
          <li><h5 style="margin-top:35px;"><%= @juice.description %></h5></li>
          <li><h4>$<%= @juice.price %><h4></li>
          </ul>
      </div>
    </div>
  </div>
